.bgback{
	background:url(../img/backfuny.jpg) no-repeat center center;
	background-size:cover;
}
#app{
	background: rgba(250,250,250,0.7);
	height: 100vh;
}
.panel {
    margin-bottom: 22px;
    background: rgba(250,250,250,0.3);
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.oculto{
    display: none !important;
    opacity: 0;
}
div#getdot {
    height: 400px;
}
#photos ul {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    list-style: none;
    padding: 0;
}
#photos ul li {
    padding: 10px;
    display: inline-block;
}
.fondobg{
    background: url('/img/bgback.jpg') no-repeat 0px 0px;
    background-size:cover;
}
.clsoff {
    color: black !important;
    background: rgba(255,0,0,0.3) !important;
}
.clsoff .subpage td{
	color: #A3A1A1 !important;

}
h4.panel-title {
    display: inline-block;
}
.botcoll {
    display: inline-block;
    float: right;
}
.panel-body h5 {
    display: inline-block;
}
.botcolli {
    display: inline-block;
    float: right;
}
.panel-body ul{
    padding-left:0px;
}
.panel-body li.subpage {
    list-style: none;
}
.huerfano{
    margin-bottom: 22px;
    background: rgba(250,250,250,0.3);
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.huerfano h4{
    display: inline-block;
}

.btn-nuevo-marca,.btn-nuevo-modelo {
    display: inline;
}

#estados .timeline>li {

    padding: 0;
    margin: 0;
}
#estados .timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #estados  .li {
    transition: all 200ms ease-in;
  }
  
  #estados .timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
  }
  
  #estados .status {
    padding: 0px 14px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
  }
  #estados .status h4 {
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }
  #estados  .status:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
  }
  
  #estados  .li.complete .status {
    border-top: 2px solid #66DC71;
  }
  #estados  .li.complete .status:before {
    background-color: #66DC71;
    border: none;
    transition: all 200ms ease-in;
  }
  #estados .li.complete .status h4 {
    color: #66DC71;
  }
  
  @media (min-device-width: 320px) and (max-device-width: 700px) {
    #estados .timeline {
      list-style-type: none;
      display: block;
    }
  
    #estados .li {
      transition: all 200ms ease-in;
      display: flex;
      width: inherit;
    }
  
    #estados .timestamp {
      width: 100px;
    }
  
    #estados .status:before {
      left: -8%;
      top: 30%;
      transition: all 200ms ease-in;
    }
  }
  
  
  
 
